@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #00738d;
  background-image: url(../public/bg.jpg);
  background-repeat: repeat;
  background-size: cover;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #ffffff;
}

.App {
  width: 60%;
  height: 60%;
  background-color: #00738d;
  box-shadow: 5px 5px #005c71;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* home screen */
.homescreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.homescreen button {
  padding: 0.9rem;
  margin-right: 20px;
  outline: none;
  border: none;
  background-color: #004756;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0.4rem;
  opacity: 0.5;
}

.homescreen button:hover {
  opacity: 1;
}

.homescreen .appname h1,
p {
  color: #ffffff;
}

.gamescreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Game Screen */
.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 300;
  width: 200px;
  height: 50px;
  background-color: #004756;
  color: #ffffff;
  position: absolute;
  top: 0;
}

.score h1 {
  font-weight: 300;
}

#score {
  color: #0093b0;
  font-weight: 500;
}

.answers {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
 
}

.answer {
  width: 400px;
  height: 80px;
  background-color: #002c35;
  opacity: 0.5;
  border-radius: 0.4rem;
  color:#ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:0.5rem;
}

.answer:hover{
  cursor: pointer;
  text-transform: inherit;
  font-weight: 600;
  opacity: 1;
}